.mySwiper2 .swiper {
    width: 100%;
    height: 100%;
    
}

.mySwiper2 .swiper-slide {
    background-position: center;
    background-size: cover;
}

.mySwiper2 .swiper-slide video {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    image-rendering: optimizeSpeed;
    image-resolution: optimizeSpeed;
}


.frasePrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100vh;
    padding: 0 190px 0 190px;
    text-align: center;
    color: #fff;
    z-index: 150;


}

.frasePrincipal h2 {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font: 500 45px/1.2 "Oswald", sans-serif;
    font-size: 6em;

}





.frasePrincipal .fraseLetra::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
    font-weight: 200;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}




.seta {
    text-align: center;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    color: #fff;
    z-index: 1000;
    animation: flutuar 0.8s linear infinite;
}


.seta h1{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font: 500 45px/1.2 "Oswald", sans-serif;
}

@keyframes flutuar {

    0% {
        top: 75vh;
    }

    50% {
        top: 76vh;
    }

    100% {
        top: 77vh;
    }
}


@media (max-width: 700px) {

    .frasePrincipal {
        padding: 0 10px 0 10px;
    }

    .frasePrincipal h2 {
        font-size: 2.5em;

    }

  

    .seta {
        text-align: center;
        width: 100%;
        left: 0;
        animation: flutuar 0.8s linear infinite;
    }
    
    @keyframes flutuar {
    
        0% {
            top: 80vh;
        }
    
        50% {
            top: 81vh;
        }
    
        100% {
            top: 82vh;
        }
    }


}